/*------------
    RESET 
-------------*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;  
}

body{
    background: linear-gradient(143deg, rgba(0,0,0,1) 0%, rgba(41,46,73,1) 46%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/*------------
    UTILITIES 
-------------*/
.selected-border{
    border: 2px solid white;
    filter: none !important;
}

/*--------------
    CAROSELLO 
---------------*/
.carosello-container{
    width: 900px;
    display: flex;
}

/*--------------------
    CAROSELLO LEFT
---------------------*/
.carosello-left{
    width: calc(100% - 150px);
    position: relative;
    color: white;
}

.carosello-left img{
    width: 100%;
    height: 400px;
    display: block;
    object-fit: cover;
    object-position: center;
}

.carosello-left .info-content{
    text-align: right;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 1.25rem;
}

/*--------------------
    CAROSELLO RIGHT
---------------------*/
.carosello-right{
    width: 9.375rem;
    position: relative;
}

.carosello-right img{
    display: block;
    width: 100%;
    height: calc(400px / 5);
    object-fit: cover;
    object-position: center;
    filter: opacity(30%);
}

/*--------------------
    CHEVRON UP/DOWN
---------------------*/
.ms-arrow-up,
.ms-arrow-down{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0px);
    background-color: rgba(204, 204, 204, 0.8);
    color: white;
    border-radius: 50%;
    padding: .25rem;
    cursor: pointer;
    z-index: 100;
}

.ms-arrow-up{
    top: .3125rem;
}

.ms-arrow-down{
    bottom: .3125rem;
}